---
import GitHub from "@/icons/GitHub.astro";
import PageBack from "@/icons/PageBack.astro";
import PageNext from "@/icons/PageNext.astro";
---

<div
  class="relative z-10 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <div class="flex gap-3">
    <a
      data-title="Volver"
      href="/"
      type="button"
      id="page-back"
      aria-label="go back to home page"
      class="bg-ebony-clay-950/95 rounded-full inline-flex justify-center items-center h-8 w-8"
    >
      <PageBack class="h-4 w-4 -ml-0.5" />
    </a>

    <button
      disabled
      type="button"
      id="page-next"
      aria-label="go back to home page"
      class="bg-ebony-clay-950 rounded-full inline-flex justify-center items-center h-8 w-8"
    >
      <PageNext class="h-4 w-4 -ml-0.5" />
    </button>
  </div>
  <div class="flex items-center gap-3">
    <a
      target="_blank"
      aria-label={"github repository"}
      href="https://github.com/igorm84/spotify-astro-transitions"
      class="text-gray-200 hover:text-white"
    >
      <GitHub class="h-7 w-7" />
    </a>
  </div>
</div>

<style>
  :disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
</style>
