---
import GitHub from "@/icons/GitHub.astro";
import PageBack from "@/icons/PageBack.astro";
import PageNext from "@/icons/PageNext.astro";
---

<div
  class="relative z-20 py-4 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <div class="flex gap-3">
    <a
      data-title="Volver"
      href="/"
      aria-label="Volver al inicio"
      class="bg-ebony-clay-950/95 rounded-full inline-flex justify-center items-center h-8 w-8"
    >
      <PageBack class="h-4 w-4 -ml-0.5" />
    </a>

    <button
      disabled
      aria-label="Avanzar la siguiente página"
      class="bg-ebony-clay-950 rounded-full inline-flex justify-center items-center h-8 w-8"
    >
      <PageNext class="h-4 w-4 -ml-0.5" />
    </button>
  </div>
  <div class="flex items-center gap-10">
    <a
      target="_blank"
      aria-label={"github repository"}
      href="https://github.com/Ktumsh/beatsbin-web"
      class="flex relative overflow-hidden group bg-gradient-to-br from-ebony-clay-950/10 to-ebony-clay-950/60 rounded-md px-2.5 transition-colors gap-1 items-center"
    >
      <img
        class="w-20 h-auto opacity-90 hover:opacity-100"
        src="/public/beatsbin-full-logo.png"
        alt=""
      />
    </a>
  </div>
</div>

<style>
  :disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
</style>
